    * {

        margin: 0px;
        padding: 0px;

    }

    body {

        margin: 0px;
        line-height: 1;
        padding: 0px;


    }



    /* ################################################### BACKGROUND ################################################################### */

    .backgroundImage {
        overflow: hidden;
        height: 700px;
        width: 100%;
        position: relative;
        background-image: url("assets/happypeople.jpg");
        background-size: cover;
        background-size: 100% 99%;
        background-repeat: no-repeat;
        background-position: 10% 860%;
        animation: slide 10s infinite;


    }

    @keyframes slide {
        0% {
            background-image: url("assets/happypeople.jpg");
        }

        33% {
            background-image: url("assets/shakenot.jpg");
        }

        67% {
            background-image: url("assets/family2.jpg")
        }



    }

    .overlay {
        overflow: hidden;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
    }


    /* ######################################################## NAV BAR ############################################################### */

    nav {

        width: 100%;
        margin: 0;
        position: relative;
    }

    .navBar {

        position: absolute;
        left: 30%;
        top: 66px;

    }




    nav ul li {
        list-style: none;
        float: left;
        padding-right: 30px;
        font-size: 20px;
        text-decoration: none;
        /* font-family: 'Mate SC', serif; */
        /* font-family: 'Barlow', sans-serif; */
        font-family: 'Lato', sans-serif;
    }

    nav ul li a {
        text-decoration: none;
        color: white;
        border: solid 1px transparent;
        padding: 5px;
    }

    nav img {
        height: 25%;
        width: 25%;
        margin-top: 15px;
    }

    .top-section {

        background-color: #000000;
        background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
        height: 100px;
        margin-top: 0;
        padding-top: 0;


    }

    .overlayLogo {
        color: white;
        position: absolute;
        left: 5.5%;
        top: 65%;
        font-size: 15px;
        font-family: 'Noto Sans HK', sans-serif;


    }

    .donation a {

        border: solid white;
    }

    .navBar li a:hover {
        border: solid 1px white;
        transition: 0.5s;


    }

    .navBar li span {
        display: none;
    }

    .dropDown {

        position: absolute;
        top: 13.5%;
        height: 700px;
        width: 100%;

    }

    .aboutContent a:hover {
        color: black;



    }

    .aboutContent {
        display: none;
        position: absolute;
        left: 37.5%;


    }

    .aboutContent a {
        display: block;
        text-decoration: none;
        color: white;
        border: solid white;
        padding: 5px;
        margin-top: 2px;
        transition: 0.5s;

    }


    .displayAboutContent {
        display: block;

    }

    .programsDropDown a:hover {
        color: black;



    }

    .programsDropDown {
        display: none;
        position: absolute;
        left: 37.5%;


    }

    .programsDropDown a {
        display: block;
        text-decoration: none;
        color: white;
        border: solid white;
        padding: 5px;
        margin-top: 2px;
        transition: 0.5s;

    }

    .displayProgramsDropDown {
        display: block;

    }

    .seniorsConnectDropDown {
        display: none;
        position: absolute;
        left: 100%;
        top: 0.1%;
        width: 100%;
    }

    .displaySeniorsConnectDropDown {
        display: block;

    }


    .youthProgramsDropDown {
        display: none;
        position: absolute;
        left: 100%;
        top: 20%;
        width: 100%;
    }

    .displayYouthProgramsDropDown {
        display: block;

    }

    .workplaceExperienceDropDown {
        display: none;
        position: absolute;
        left: 100%;
        top: 84%;
        width: 100%;
    }

    .displayWorkPlaceDropDown {
        display: block;

    }

    .singleParentsDropDown {
        display: none;
        position: absolute;
        left: 100%;
        top: 40%;
        width: 100%;
    }

    .displaySingleParentsDropDown {
        display: block;

    }

    .newsAndEventsDropDown a:hover {
        color: black;



    }

    .newsAndEventsDropDown {
        display: none;
        position: absolute;
        left: 37.5%;


    }

    .newsAndEventsDropDown a {
        display: block;
        text-decoration: none;
        color: white;
        border: solid white;
        padding: 5px;
        margin-top: 2px;
        transition: 0.5s;

    }


    .displayNewsAndEventsDropDown {
        display: block;

    }

    .communityResourcesDropDown {
        display: none;
        position: absolute;
        left: 100%;
        top: 0.2%;
        width: 100%;
    }

    .displayCommunityResourcesDropDown {
        display: block;

    }

    .contactUsDropDown a:hover {
        color: black;



    }

    .contactUsDropDown {
        display: none;
        position: absolute;
        left: 37.5%;


    }

    .contactUsDropDown a {
        display: block;
        text-decoration: none;
        color: white;
        border: solid white;
        padding: 5px;
        margin-top: 2px;
        transition: 0.5s;

    }


    .displayContactUsDropDown {
        display: block;

    }




    .arrow {
        float: right;
    }


    /* ####################################################### FIRST BODY ############################################################# */

    .mainHeader h1 {
        position: absolute;
        left: 17%;
        top: 55%;
        font-size: 90px;
        color: white;
        font-family: 'Cinzel', serif;
    }

    .mainHeader p {
        position: absolute;
        left: 40%;
        top: 67%;
        font-size: 25px;
        color: white;
        font-family: 'Cinzel', serif;
        font-family: 'Josefin Slab', serif;
    }

    /* ####################################################### SECOND BODY ############################################################# */
    .secondBody {
        overflow: hidden;
        height: 875px;
        background: black;
        position: relative;
        display: block;
        width: 100%;


    }

    .row1 {
        overflow: hidden;
        display: flex;
        width: 100%;

    }

    .row2 {
        overflow: hidden;
        display: flex;
        width: 100%;

    }

    .column1 {
        width: 33.3%;
        background: white;
        height: 400px;
    }

    .imageColumn1 {
        position: absolute;
        left: 0%;
        width: 33.3%;
        z-index: 1;
    }

    .row2 .imageColumn1 {
        position: absolute;
        left: 0%;
        bottom: 3%;
        width: 33.3%;
        z-index: 1;
    }

    .column1 img {
        width: 100%;
        height: 400px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .row2 .column1 img {
        width: 100%;
        /* height: 400; */
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .column1 img:hover {
        opacity: 0.7;

    }

    .descriptionColumn1 {

        /* border:solid 5px white; */
        position: absolute;
        left: 0%;
        top: 40%;
        background: rgb(141, 7, 250);
        height: 100px;
        z-index: 2;
        width: 33.3%;
        text-align: center;
        color: white;
        font-size: 25px;
        font-family: 'Arima Madurai', cursive;

    }

    .row2 .descriptionColumn1 {
        /* border:solid 5px white; */
        position: absolute;
        left: 0%;
        top: 89.5%;
        background: rgb(0, 167, 28);
        height: 100px;
        z-index: 2;
        width: 33.3%;
        text-align: center;
        color: white;
        font-size: 25px;
        font-family: 'Arima Madurai', cursive;

    }

    .descriptionColumn1 p {
        display: none;
        font-size: 15px;
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    /* .column1Paragraph{
    display:none;
}
.column1ParagraphShow{
    display:block;
} */

    /* .showDescription {
    font-size:15px;
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
 */


    .column2 {
        width: 33.3%;

        background: white;
        height: 400px;

    }

    .imageColumn2 {
        position: absolute;
        left: 33.3%;
        width: 33.3%;
        z-index: 1;
    }

    .column2 img {
        width: 100%;
        height: 400px;
        transition-duration: 0.4s;
        cursor: pointer;
    }




    .column2 img:hover {
        opacity: 0.7;

    }

    .descriptionColumn2 {
        position: absolute;
        left: 33.3%;
        top: 40%;
        background: rgb(0, 151, 252);
        height: 100px;
        z-index: 2;
        width: 33.3%;
        text-align: center;
        color: white;
        font-size: 25px;
        font-family: 'Arima Madurai', cursive;
    }

    .row2 .descriptionColumn2 {
        position: absolute;
        left: 33.3%;
        top: 89.5%;
        background: rgb(252, 0, 0);
        height: 100px;
        z-index: 2;
        width: 33.3%;
        text-align: center;
        color: white;
        font-size: 25px;
        font-family: 'Arima Madurai', cursive;
    }


    .descriptionColumn2 p {
        display: none;
        font-size: 15px;
        color: rgb(0, 151, 252);
    }




    .column3 {
        width: 33.3%;
        background: white;
        height: 400px;
    }

    .imageColumn3 {
        position: absolute;
        left: 66.6%;
        width: 33.3%;
        z-index: 1;
    }

    .column3 img {
        width: 100%;
        height: 400px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .column3 img:hover {
        opacity: 0.7;

    }

    .descriptionColumn3 {
        /* border:solid 5px white; */
        position: absolute;
        left: 66.6%;
        top: 40%;
        background: rgb(255, 0, 179);
        height: 100px;
        z-index: 2;
        width: 33.3%;
        text-align: center;
        color: white;
        font-size: 25px;
        font-family: 'Arima Madurai', cursive;
    }

    .row2 .descriptionColumn3 {
        /* border:solid 5px white; */
        position: absolute;
        left: 66.6%;
        top: 89.5%;
        background: rgb(255, 115, 0);
        height: 100px;
        z-index: 2;
        width: 33.3%;
        text-align: center;
        color: white;
        font-size: 25px;
        font-family: 'Arima Madurai', cursive;
    }


    .descriptionColumn3 p {

        display: none;
        font-size: 15px;
        color: rgb(255, 115, 0);
    }



    /* ####################################################### THIRD BODY ############################################################# */
    .thirdBody {
        overflow: hidden;
        height: 380px;
        background-color: #ffffff;
        background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
        /* background: black; */
        position: relative;
        display: flex;
        width: 100%;



    }

    .aboutUsBackground {
        overflow: hidden;
        height: 350px;
        width: 45%;
        background: #CDCDCD;
        margin-left: 55px;
        margin-top: 20px;
        border-radius: 50px;


    }



    .aboutUsContent {
        position: absolute;
        left: 10%;
        top: 11%;
        width: 35%;
    }

    .thirdBody h1.aboutUS {
        color: black;
        margin-left: 70px;

        font-size: 70px;
        /* left:10%;
    top:20%; */
    }

    .thirdBody p {
        color: black;
        font-family: 'Capriola', sans-serif;
        font-size: 15px;
        /* left:10%;
    top:20%; */

    }

    .aboutUsContent button {
        position: absolute;
        left: 34%;
        top: 103%;
        font-size: 20px;
        background-color: black;
        color: white;
        border: solid 1px white;
        padding: 5px;
        cursor: pointer;
        transition-duration: 0.4s;



    }

    .aboutUsContent button:hover {
        background-color: wheat;
        color: black;


    }

    .programsBackground {
        overflow: hidden;
        height: 350px;
        width: 45%;
        background: #CDCDCD;
        margin-left: 50px;
        margin-top: 20px;
        border-radius: 50px;

    }

    .programsContent {

        position: absolute;
        left: 60%;
        top: 11%;
        width: 80%;

    }


    .thirdBody h1.programs {

        color: black;

        font-size: 70px;

    }

    .programsContent ul {
        margin-top: 20px;
        color: black;
        font-size: 30px;

    }

    .programsContent ul li {
        padding-top: 10px;

    }

    .programsContent button {
        position: absolute;
        left: 15%;
        top: 105%;
        margin-top: 21px;
        font-size: 20px;
        background-color: black;
        color: white;
        border: solid 1px white;
        padding: 5px;
        cursor: pointer;
        transition-duration: 0.4s;



    }

    .programsContent button:hover {
        background-color: wheat;
        color: black;


    }




    /* ####################################################### FOOTER ############################################################# */
    footer {
        overflow: hidden;
        height: 350px;
        /* background: #F5F5F5; */
        background: black;
        position: relative;
        display: flex;
        width: 100%;
        color: black;




    }

    .footerColumn1 {
        margin-top: 10px;
        width: 40%;
        color: white;
        /* border:solid 5px red; */

    }

    .footerColumn1 h1 {
        color: white;


    }

    .footerColumn1 p {}

    .footerColumn2 {
        margin-top: 10px;
        width: 35%;
        color: white;

        /* border:solid 5px red; */


    }

    .footerColumn2 button {
        margin-top: 15px;
        margin-left: 20px;
        font-size: 15px;
        background-color: orange;
        color: white;
        border: solid 1px white;
        padding: 10px;
        cursor: pointer;
        transition-duration: 0.4s;



    }

    .footerColumn2 button:hover {
        background-color: wheat;
        color: darkred;


    }

    .heart {
        font-size: 20px;
        color: red;
        margin-right: 0;
    }

    .footerColumn2 a.heartLink {
        text-decoration: none;
        color: white;

    }

    .footerColumn2 p:hover {
        text-decoration: underline;
        color: red;
    }

    span.thumbs {
        font-size: 15px;
        margin-top: 10px;


    }

    .footerColumn2 a.thumbsLink {
        text-decoration: none;
        color: white;



    }

    .footerColumn2 p:hover {
        text-decoration: underline;
        color: red;
    }

    .footerColumn2 p {
        display: inline-block;
        margin-left: 15px;
    }

    .footerColumn3 {

        margin-top: 10px;
        /* border:solid 5px red; */
        width: 25%;
        color: white;



    }

    .footerColumn3 img {
        display: inline;
        margin-top: 20px;
        margin-left: 5px;
        width: 10%;
        height: 10%;
        padding-right: 10px;
    }

    .footerColumn3 img.twitter {
        width: 17%;
        height: 9%;
    }


    .changeColor {
        color: black;
    }


    /* ################################################### STICKY GROCERY VOUCHER AT BOTTOM ################################################################### */

    .groceryVoucher {
        position: fixed;
        width: 100%;
        height: 120px;
        background: rgba(255, 0, 0, 0.719);
        bottom: 0%;
        z-index: 3;
        text-align: center;

    }

    .groceryVoucher h1 {
        font-size: 2vw;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(255, 255, 255);

    }

    .groceryVoucher button {
        display: inline-block;
        font-size: 20px;
        padding: 10px;
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 10%;

    }

    .groceryVoucher button:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
    }

    .groceryVoucher .seniorsButton {

        padding-right: 50px;
        padding-left: 50px;
    }







    /*################### ################################################### FOR SMALLEST A COMPUTER CAN GET################################################################### */

    @media only screen and (min-width: 1068px) {

        .mobileDropDown {
            display: none;
        }

        nav ul li {
            list-style: none;
            float: left;
            padding-right: 30px;
            font-size: 15px;
            text-decoration: none;
            /* font-family: 'Mate SC', serif; */
            /* font-family: 'Barlow', sans-serif; */
            font-family: 'Lato', sans-serif;
        }



        .aboutContent {
            position: absolute;
            left: 36%;
            bottom: 88.2%;
            /* font-size: 10px; */


        }

        .aboutContent a {
            border: 1px solid white;
        }

        .programsDropDown {
            position: absolute;
            left: 44.5%;
            bottom: 79.5%;
            /* font-size: 10px; */


        }

        .programsDropDown a {
            border: 1px solid white;
        }


        .newsAndEventsDropDown {
            position: absolute;
            left: 53.9%;
            bottom: 75.2%;


        }

        .newsAndEventsDropDown a {



            border: solid 1px white;


        }

        .contactUsDropDown {
            position: absolute;
            left: 72.9%;
            bottom: 83.8%;




        }

        .contactUsDropDown a {



            border: solid 1px white;



        }





        .mainHeader h1 {
            position: absolute;
            left: 21%;
            top: 55%;
            font-size: 80px;
            color: white;
            font-family: 'Cinzel', serif;
        }


        .mainHeader p {
            position: absolute;
            left: 40%;
            top: 67%;
            font-size: 30px;
            color: white;
            font-family: 'Cinzel', serif;
            font-family: 'Josefin Slab', serif;
        }


        /* ################################################### THIRD BODY ################################################################### */


        .aboutUsContent button {
            position: absolute;
            left: 34%;
            top: 97%;





        }


    }



    /*################### ################################################### FOR a Smaller Desktop Screens ################################################################### */

    @media only screen and (min-width: 1281px) {



        /* ################################################### BACKGROUND ################################################################### */

        .backgroundImage {
            overflow: hidden;
            height: 700px;
            width: 100%;
            position: relative;
            background-image: url("assets/happypeople.jpg");
            background-size: cover;
            background-size: 100% 99%;
            background-repeat: no-repeat;
            background-position: 10% 860%;



        }



        /* ######################################################## NAV BAR ############################################################### */


        .navBar {

            position: absolute;
            left: 30%;
            top: 66px;

        }

        .mobileDropDown {
            display: none;
        }

        nav ul li {
            list-style: none;
            float: left;
            padding-right: 30px;
            font-size: 20px;
            text-decoration: none;
            /* font-family: 'Mate SC', serif; */
            /* font-family: 'Barlow', sans-serif; */
            font-family: 'Lato', sans-serif;
        }


        nav ul li.donation {
            padding-right: 0px;

        }




        .overlayLogo {
            color: white;
            position: absolute;
            left: 5.5%;
            top: 65%;
            font-size: 15px;
            font-family: 'Noto Sans HK', sans-serif;


        }

        .logo img {
            margin-top: 7px;



        }


        .aboutContent {
            position: absolute;
            left: 36%;
            bottom: 85.5%;
            font-size: 20px;

        }

        .aboutContent a {



            border: solid 1px white;


        }

        .programsDropDown {
            position: absolute;
            left: 44%;
            bottom: 76%;
            font-size: 20px;

        }

        .programsDropDown a {



            border: solid 1px white;


        }

        .newsAndEventsDropDown {
            position: absolute;
            left: 52.1%;
            bottom: 71%;
            font-size: 20px;

        }

        .newsAndEventsDropDown a {



            border: solid 1px white;


        }

        .contactUsDropDown {
            position: absolute;
            left: 72.5%;
            bottom: 80.7%;
            font-size: 20px;



        }

        .contactUsDropDown a {



            border: solid 1px white;



        }




        /* ####################################################### FIRST BODY ############################################################# */

        .mainHeader h1 {
            position: absolute;
            left: 21%;
            top: 55%;
            font-size: 100px;
            color: white;
            font-family: 'Cinzel', serif;
        }


        .mainHeader p {
            position: absolute;
            left: 40%;
            top: 67%;
            font-size: 35px;
            color: white;
            font-family: 'Cinzel', serif;
            font-family: 'Josefin Slab', serif;
        }




        /* ####################################################### SECOND BODY ############################################################# */
        .secondBody {
            overflow: hidden;
            height: 875px;
            background: black;
            position: relative;
            display: block;
            width: 100%;


        }

        .row1 {
            overflow: hidden;
            display: flex;
            width: 100%;

        }

        .row2 {
            overflow: hidden;
            display: flex;
            width: 100%;

        }

        .column1 {
            width: 33.3%;
            background: white;
            height: 400px;
        }

        .imageColumn1 {
            position: absolute;
            left: 0%;
            width: 33.3%;
            z-index: 1;
        }

        .row2 .imageColumn1 {
            position: absolute;
            left: 0%;
            bottom: 3%;
            width: 33.3%;
            z-index: 1;
        }

        .column1 img {
            width: 100%;
            height: 400px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .row2 .column1 img {
            width: 100%;
            /* height: 400; */
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .column1 img:hover {
            opacity: 0.7;

        }

        .descriptionColumn1 {

            /* border:solid 5px white; */
            position: absolute;
            left: 0%;
            top: 40%;
            background: rgb(141, 7, 250);
            height: 100px;
            z-index: 2;
            width: 33.3%;
            text-align: center;
            color: white;
            font-size: 25px;
            font-family: 'Arima Madurai', cursive;

        }

        .row2 .descriptionColumn1 {
            /* border:solid 5px white; */
            position: absolute;
            left: 0%;
            top: 89.5%;
            background: rgb(0, 167, 28);
            height: 100px;
            z-index: 2;
            width: 33.3%;
            text-align: center;
            color: white;
            font-size: 25px;
            font-family: 'Arima Madurai', cursive;

        }

        .descriptionColumn1 p {
            display: none;
            font-size: 15px;
            color: white;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        /* .column1Paragraph{
        display:none;
    }
    .column1ParagraphShow{
        display:block;
    } */

        /* .showDescription {
        font-size:15px;
        color:white;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
     */


        .column2 {
            width: 33.3%;

            background: white;
            height: 400px;

        }

        .imageColumn2 {
            position: absolute;
            left: 33.3%;
            width: 33.3%;
            z-index: 1;
        }

        .column2 img {
            width: 100%;
            height: 400px;
            transition-duration: 0.4s;
            cursor: pointer;
        }




        .column2 img:hover {
            opacity: 0.7;

        }

        .descriptionColumn2 {
            position: absolute;
            left: 33.3%;
            top: 40%;
            background: rgb(0, 151, 252);
            height: 100px;
            z-index: 2;
            width: 33.3%;
            text-align: center;
            color: white;
            font-size: 25px;
            font-family: 'Arima Madurai', cursive;
        }

        .row2 .descriptionColumn2 {
            position: absolute;
            left: 33.3%;
            top: 89.5%;
            background: rgb(252, 0, 0);
            height: 100px;
            z-index: 2;
            width: 33.3%;
            text-align: center;
            color: white;
            font-size: 25px;
            font-family: 'Arima Madurai', cursive;
        }


        .descriptionColumn2 p {
            display: none;
            font-size: 15px;
            color: rgb(0, 151, 252);
        }




        .column3 {
            width: 33.3%;
            background: white;
            height: 400px;
        }

        .imageColumn3 {
            position: absolute;
            left: 66.6%;
            width: 33.3%;
            z-index: 1;
        }

        .column3 img {
            width: 100%;
            height: 400px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .column3 img:hover {
            opacity: 0.7;

        }

        .descriptionColumn3 {
            /* border:solid 5px white; */
            position: absolute;
            left: 66.6%;
            top: 40%;
            background: rgb(255, 0, 179);
            height: 100px;
            z-index: 2;
            width: 33.3%;
            text-align: center;
            color: white;
            font-size: 25px;
            font-family: 'Arima Madurai', cursive;
        }

        .row2 .descriptionColumn3 {
            /* border:solid 5px white; */
            position: absolute;
            left: 66.6%;
            top: 89.5%;
            background: rgb(255, 115, 0);
            height: 100px;
            z-index: 2;
            width: 33.3%;
            text-align: center;
            color: white;
            font-size: 25px;
            font-family: 'Arima Madurai', cursive;
        }


        .descriptionColumn3 p {

            display: none;
            font-size: 15px;
            color: rgb(255, 115, 0);
        }


        /* ####################################################### THIRD BODY ############################################################# */
        .thirdBody {
            overflow: hidden;
            height: 500px;
            background-color: #ffffff;
            background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
            /* background: black; */
            position: relative;
            display: flex;
            width: 100%;



        }

        .aboutUsBackground {
            overflow: hidden;
            height: 455px;
            width: 43%;
            background: #CDCDCD;
            margin-left: 100px;
            margin-top: 20px;
            border-radius: 50px;


        }

        .aboutUsContent {
            position: absolute;
            left: 10%;
            top: 11%;
            width: 35%;
        }

        .thirdBody h1.aboutUS {
            color: black;
            margin-left: 130px;


            font-size: 70px;
            /* left:10%;
top:20%; */
        }

        .thirdBody p {
            color: black;
            font-family: 'Capriola', sans-serif;
            font-size: 17px;
            /* left:10%;
top:20%; */

        }

        .aboutUsContent button {
            position: absolute;
            left: 34%;
            top: 105%;
            font-size: 33px;
            background-color: black;
            color: white;
            border: solid 1px white;
            padding: 5px;
            cursor: pointer;
            transition-duration: 0.4s;



        }

        .programsBackground {
            overflow: hidden;
            height: 455px;
            width: 45%;
            background: #CDCDCD;
            margin-left: 50px;
            margin-top: 20px;
            border-radius: 50px;

        }

        .programsContent {

            position: absolute;
            left: 60%;
            top: 11%;
            width: 80%;

        }


        .thirdBody h1.programs {

            color: black;

            font-size: 85px;

        }

        .programsContent ul {
            margin-top: 20px;
            color: black;
            font-size: 40px;

        }

        .programsContent ul li {
            padding-top: 10px;

        }

        .programsContent button {
            position: absolute;
            left: 12%;
            top: 105%;
            margin-top: 21px;
            font-size: 33px;
            background-color: black;
            color: white;
            border: solid 1px white;
            padding: 5px;
            cursor: pointer;
            transition-duration: 0.4s;



        }
    }



    /*################### ################################################### FOR a Small Desktop Screens ################################################################### */

    @media only screen and (min-width: 1587px) {



        /* ################################################### BACKGROUND ################################################################### */

        .backgroundImage {
            overflow: hidden;
            height: 950px;
            width: 100%;
            position: relative;
            background-image: url("assets/happypeople.jpg");
            background-size: cover;
            background-size: 100% 99%;
            background-repeat: no-repeat;
            background-position: 10% 860%;



        }



        /* ######################################################## NAV BAR ############################################################### */


        .navBar {

            position: absolute;
            left: 35%;
            top: 66px;

        }

        .mobileDropDown {
            display: none;
        }


        nav ul li {

            list-style: none;
            float: left;
            padding-right: 50px;
            font-size: 20px;
            text-decoration: none;
            /* font-family: 'Mate SC', serif; */
            /* font-family: 'Barlow', sans-serif; */
            font-family: 'Lato', sans-serif;

        }

        nav ul li.donation {
            padding-right: 0px;

        }





        .overlayLogo {
            color: white;
            position: absolute;
            left: 5.5%;
            top: 62%;
            font-size: 20px;
            font-family: 'Noto Sans HK', sans-serif;


        }

        .logo img {
            margin-top: 7px;



        }


        .aboutContent {
            position: absolute;
            left: 41.5%;
            bottom: 90.5%;
            font-size: 20px;


        }

        .aboutContent a {



            border: solid 1px white;


        }

        .programsDropDown {
            position: absolute;
            left: 49.2%;
            bottom: 80.5%;
            font-size: 20px;


        }

        .programsDropDown a {



            border: solid 1px white;


        }

        .newsAndEventsDropDown {
            position: absolute;
            left: 56.7%;
            bottom: 75.7%;
            font-size: 20px;


        }

        .newsAndEventsDropDown a {



            border: solid 1px white;


        }

        .contactUsDropDown {
            position: absolute;
            left: 75%;
            bottom: 85.5%;
            font-size: 20px;



        }

        .contactUsDropDown a {



            border: solid 1px white;



        }







        /* ####################################################### FIRST BODY ############################################################# */

        .mainHeader h1 {
            position: absolute;
            left: 21%;
            top: 55%;
            font-size: 120px;
            color: white;
            font-family: 'Cinzel', serif;
        }


        .mainHeader p {
            position: absolute;
            left: 40%;
            top: 67%;
            font-size: 35px;
            color: white;
            font-family: 'Cinzel', serif;
            font-family: 'Josefin Slab', serif;
        }




        /* ####################################################### SECOND BODY ############################################################# */
        .secondBody {
            overflow: hidden;
            height: 875px;
            background: black;
            position: relative;
            display: block;
            width: 100%;


        }

        .row1 {
            overflow: hidden;
            display: flex;
            width: 100%;

        }

        .row2 {
            overflow: hidden;
            display: flex;
            width: 100%;

        }

        .column1 {
            width: 33.3%;
            background: white;
            height: 400px;
        }

        .imageColumn1 {
            position: absolute;
            left: 0%;
            width: 33.3%;
            z-index: 1;
        }

        .row2 .imageColumn1 {
            position: absolute;
            left: 0%;
            bottom: 3%;
            width: 33.3%;
            z-index: 1;
        }

        .column1 img {
            width: 100%;
            height: 400px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .row2 .column1 img {
            width: 100%;
            /* height: 400; */
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .column1 img:hover {
            opacity: 0.7;

        }

        .descriptionColumn1 {

            /* border:solid 5px white; */
            position: absolute;
            left: 0%;
            top: 40%;
            background: rgb(141, 7, 250);
            height: 100px;
            z-index: 2;
            width: 33.3%;
            text-align: center;
            color: white;
            font-size: 25px;
            font-family: 'Arima Madurai', cursive;

        }

        .row2 .descriptionColumn1 {
            /* border:solid 5px white; */
            position: absolute;
            left: 0%;
            top: 89.5%;
            background: rgb(0, 167, 28);
            height: 100px;
            z-index: 2;
            width: 33.3%;
            text-align: center;
            color: white;
            font-size: 25px;
            font-family: 'Arima Madurai', cursive;

        }

        .descriptionColumn1 p {
            display: none;
            font-size: 15px;
            color: white;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        /* .column1Paragraph{
        display:none;
    }
    .column1ParagraphShow{
        display:block;
    } */

        /* .showDescription {
        font-size:15px;
        color:white;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
     */


        .column2 {
            width: 33.3%;

            background: white;
            height: 400px;

        }

        .imageColumn2 {
            position: absolute;
            left: 33.3%;
            width: 33.3%;
            z-index: 1;
        }

        .column2 img {
            width: 100%;
            height: 400px;
            transition-duration: 0.4s;
            cursor: pointer;
        }




        .column2 img:hover {
            opacity: 0.7;

        }

        .descriptionColumn2 {
            position: absolute;
            left: 33.3%;
            top: 40%;
            background: rgb(0, 151, 252);
            height: 100px;
            z-index: 2;
            width: 33.3%;
            text-align: center;
            color: white;
            font-size: 25px;
            font-family: 'Arima Madurai', cursive;
        }

        .row2 .descriptionColumn2 {
            position: absolute;
            left: 33.3%;
            top: 89.5%;
            background: rgb(252, 0, 0);
            height: 100px;
            z-index: 2;
            width: 33.3%;
            text-align: center;
            color: white;
            font-size: 25px;
            font-family: 'Arima Madurai', cursive;
        }


        .descriptionColumn2 p {
            display: none;
            font-size: 15px;
            color: rgb(0, 151, 252);
        }




        .column3 {
            width: 33.3%;
            background: white;
            height: 400px;
        }

        .imageColumn3 {
            position: absolute;
            left: 66.6%;
            width: 33.3%;
            z-index: 1;
        }

        .column3 img {
            width: 100%;
            height: 400px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .column3 img:hover {
            opacity: 0.7;

        }

        .descriptionColumn3 {
            /* border:solid 5px white; */
            position: absolute;
            left: 66.6%;
            top: 40%;
            background: rgb(255, 0, 179);
            height: 100px;
            z-index: 2;
            width: 33.3%;
            text-align: center;
            color: white;
            font-size: 25px;
            font-family: 'Arima Madurai', cursive;
        }

        .row2 .descriptionColumn3 {
            /* border:solid 5px white; */
            position: absolute;
            left: 66.6%;
            top: 89.5%;
            background: rgb(255, 115, 0);
            height: 100px;
            z-index: 2;
            width: 33.3%;
            text-align: center;
            color: white;
            font-size: 25px;
            font-family: 'Arima Madurai', cursive;
        }


        .descriptionColumn3 p {

            display: none;
            font-size: 15px;
            color: rgb(255, 115, 0);
        }


        /* ####################################################### THIRD BODY ############################################################# */
        .thirdBody {
            overflow: hidden;
            height: 500px;
            background-color: #ffffff;
            background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
            /* background: black; */
            position: relative;
            display: flex;
            width: 100%;



        }

        .aboutUsBackground {
            overflow: hidden;
            height: 455px;
            width: 43%;
            background: #CDCDCD;
            margin-left: 100px;
            margin-top: 20px;
            border-radius: 50px;


        }

        .aboutUsContent {
            position: absolute;
            left: 10%;
            top: 11%;
            width: 35%;
        }

        .thirdBody h1.aboutUS {
            color: black;
            margin-left: 130px;


            font-size: 85px;
            /* left:10%;
top:20%; */
        }

        .thirdBody p {
            color: black;
            font-family: 'Capriola', sans-serif;
            font-size: 17px;
            /* left:10%;
top:20%; */

        }

        .aboutUsContent button {
            position: absolute;
            left: 34%;
            top: 105%;
            font-size: 33px;
            background-color: black;
            color: white;
            border: solid 1px white;
            padding: 5px;
            cursor: pointer;
            transition-duration: 0.4s;



        }

        .programsBackground {
            overflow: hidden;
            height: 455px;
            width: 45%;
            background: #CDCDCD;
            margin-left: 50px;
            margin-top: 20px;
            border-radius: 50px;

        }

        .programsContent {

            position: absolute;
            left: 60%;
            top: 11%;
            width: 80%;

        }


        .thirdBody h1.programs {

            color: black;

            font-size: 85px;

        }

        .programsContent ul {
            margin-top: 20px;
            color: black;
            font-size: 40px;

        }

        .programsContent ul li {
            padding-top: 10px;

        }

        .programsContent button {
            position: absolute;
            left: 12%;
            top: 105%;
            margin-top: 21px;
            font-size: 33px;
            background-color: black;
            color: white;
            border: solid 1px white;
            padding: 5px;
            cursor: pointer;
            transition-duration: 0.4s;



        }

    }



    /*################### ################################################### FOR BIG DESKTOP SCREENS ################################################################### */


    @media only screen and (min-width: 1900px) {



        /* ################################################### BACKGROUND ################################################################### */

        .backgroundImage {
            overflow: hidden;
            height: 950px;
            width: 100%;
            position: relative;
            background-image: url("assets/happypeople.jpg");
            background-size: cover;
            background-size: 100% 99%;
            background-repeat: no-repeat;
            background-position: 10% 860%;



        }



        /* ######################################################## NAV BAR ############################################################### */


        .navBar {

            position: absolute;
            left: 35%;
            top: 60%;

        }

        .mobileDropDown {
            display: none;
        }


        nav ul li {

            list-style: none;
            float: left;
            padding-right: 50px;
            font-size: 27px;
            text-decoration: none;
            /* font-family: 'Mate SC', serif; */
            /* font-family: 'Barlow', sans-serif; */
            font-family: 'Lato', sans-serif;

        }

        nav ul li.donation {
            padding-right: 0px;

        }





        .overlayLogo {
            color: white;
            position: absolute;
            left: 5.5%;
            top: 62%;
            font-size: 20px;
            font-family: 'Noto Sans HK', sans-serif;


        }

        .logo img {
            margin-top: 7px;



        }


        .aboutContent {
            position: absolute;
            left: 42%;
            bottom: 90%;
            font-size: 20px;


        }

        .aboutContent a {



            border: solid 1px white;



        }

        .programsDropDown {
            position: absolute;
            left: 50.8%;
            bottom: 80.3%;
            font-size: 20px;


        }

        .programsDropDown a {



            border: solid 1px white;


        }

        .newsAndEventsDropDown {
            position: absolute;
            left: 60%;
            bottom: 75.5%;
            font-size: 20px;



        }

        .newsAndEventsDropDown a {



            border: solid 1px white;



        }

        .contactUsDropDown {
            position: absolute;
            left: 81.2%;
            bottom: 85.2%;
            font-size: 20px;



        }

        .contactUsDropDown a {



            border: solid 1px white;



        }



        /* ####################################################### FIRST BODY ############################################################# */

        .mainHeader h1 {
            position: absolute;
            left: 21%;
            top: 55%;
            font-size: 120px;
            color: white;
            font-family: 'Cinzel', serif;
        }


        .mainHeader p {
            position: absolute;
            left: 40%;
            top: 67%;
            font-size: 35px;
            color: white;
            font-family: 'Cinzel', serif;
            font-family: 'Josefin Slab', serif;
        }




        /* ####################################################### SECOND BODY ############################################################# */
        .secondBody {
            overflow: hidden;
            height: 875px;
            background: black;
            position: relative;
            display: block;
            width: 100%;


        }

        .row1 {
            overflow: hidden;
            display: flex;
            width: 100%;

        }

        .row2 {
            overflow: hidden;
            display: flex;
            width: 100%;

        }

        .column1 {
            width: 33.3%;
            background: white;
            height: 400px;
        }

        .imageColumn1 {
            position: absolute;
            left: 0%;
            width: 33.3%;
            z-index: 1;
        }

        .row2 .imageColumn1 {
            position: absolute;
            left: 0%;
            bottom: 3%;
            width: 33.3%;
            z-index: 1;
        }

        .column1 img {
            width: 100%;
            height: 400px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .row2 .column1 img {
            width: 100%;
            /* height: 400; */
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .column1 img:hover {
            opacity: 0.7;

        }

        .descriptionColumn1 {

            /* border:solid 5px white; */
            position: absolute;
            left: 0%;
            top: 40%;
            background: rgb(141, 7, 250);
            height: 100px;
            z-index: 2;
            width: 33.3%;
            text-align: center;
            color: white;
            font-size: 25px;
            font-family: 'Arima Madurai', cursive;

        }

        .row2 .descriptionColumn1 {
            /* border:solid 5px white; */
            position: absolute;
            left: 0%;
            top: 89.5%;
            background: rgb(0, 167, 28);
            height: 100px;
            z-index: 2;
            width: 33.3%;
            text-align: center;
            color: white;
            font-size: 25px;
            font-family: 'Arima Madurai', cursive;

        }

        .descriptionColumn1 p {
            display: none;
            font-size: 15px;
            color: white;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        /* .column1Paragraph{
        display:none;
    }
    .column1ParagraphShow{
        display:block;
    } */

        /* .showDescription {
        font-size:15px;
        color:white;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
     */


        .column2 {
            width: 33.3%;

            background: white;
            height: 400px;

        }

        .imageColumn2 {
            position: absolute;
            left: 33.3%;
            width: 33.3%;
            z-index: 1;
        }

        .column2 img {
            width: 100%;
            height: 400px;
            transition-duration: 0.4s;
            cursor: pointer;
        }




        .column2 img:hover {
            opacity: 0.7;

        }

        .descriptionColumn2 {
            position: absolute;
            left: 33.3%;
            top: 40%;
            background: rgb(0, 151, 252);
            height: 100px;
            z-index: 2;
            width: 33.3%;
            text-align: center;
            color: white;
            font-size: 25px;
            font-family: 'Arima Madurai', cursive;
        }

        .row2 .descriptionColumn2 {
            position: absolute;
            left: 33.3%;
            top: 89.5%;
            background: rgb(252, 0, 0);
            height: 100px;
            z-index: 2;
            width: 33.3%;
            text-align: center;
            color: white;
            font-size: 25px;
            font-family: 'Arima Madurai', cursive;
        }


        .descriptionColumn2 p {
            display: none;
            font-size: 15px;
            color: rgb(0, 151, 252);
        }




        .column3 {
            width: 33.3%;
            background: white;
            height: 400px;
        }

        .imageColumn3 {
            position: absolute;
            left: 66.6%;
            width: 33.3%;
            z-index: 1;
        }

        .column3 img {
            width: 100%;
            height: 400px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .column3 img:hover {
            opacity: 0.7;

        }

        .descriptionColumn3 {
            /* border:solid 5px white; */
            position: absolute;
            left: 66.6%;
            top: 40%;
            background: rgb(255, 0, 179);
            height: 100px;
            z-index: 2;
            width: 33.3%;
            text-align: center;
            color: white;
            font-size: 25px;
            font-family: 'Arima Madurai', cursive;
        }

        .row2 .descriptionColumn3 {
            /* border:solid 5px white; */
            position: absolute;
            left: 66.6%;
            top: 89.5%;
            background: rgb(255, 115, 0);
            height: 100px;
            z-index: 2;
            width: 33.3%;
            text-align: center;
            color: white;
            font-size: 25px;
            font-family: 'Arima Madurai', cursive;
        }


        .descriptionColumn3 p {

            display: none;
            font-size: 15px;
            color: rgb(255, 115, 0);
        }



        /* ####################################################### THIRD BODY ############################################################# */
        .thirdBody {
            overflow: hidden;
            height: 500px;
            background-color: #ffffff;
            background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
            /* background: black; */
            position: relative;
            display: flex;
            width: 100%;



        }

        .aboutUsBackground {
            overflow: hidden;
            height: 455px;
            width: 43%;
            background: #CDCDCD;
            margin-left: 100px;
            margin-top: 20px;
            border-radius: 50px;


        }

        .aboutUsContent {
            position: absolute;
            left: 10%;
            top: 11%;
            width: 35%;
        }

        .thirdBody h1.aboutUS {
            color: black;
            margin-left: 130px;


            font-size: 85px;
            /* left:10%;
top:20%; */
        }

        .thirdBody p {
            color: black;
            font-family: 'Capriola', sans-serif;
            font-size: 20px;
            /* left:10%;
top:20%; */

        }

        .aboutUsContent button {
            position: absolute;
            left: 34%;
            top: 105%;
            font-size: 33px;
            background-color: black;
            color: white;
            border: solid 1px white;
            padding: 5px;
            cursor: pointer;
            transition-duration: 0.4s;



        }

        .programsBackground {
            overflow: hidden;
            height: 455px;
            width: 45%;
            background: #CDCDCD;
            margin-left: 50px;
            margin-top: 20px;
            border-radius: 50px;

        }

        .programsContent {

            position: absolute;
            left: 60%;
            top: 11%;
            width: 80%;

        }


        .thirdBody h1.programs {

            color: black;

            font-size: 85px;

        }

        .programsContent ul {
            margin-top: 20px;
            color: black;
            font-size: 40px;

        }

        .programsContent ul li {
            padding-top: 10px;

        }

        .programsContent button {
            position: absolute;
            left: 12%;
            top: 105%;
            margin-top: 21px;
            font-size: 33px;
            background-color: black;
            color: white;
            border: solid 1px white;
            padding: 5px;
            cursor: pointer;
            transition-duration: 0.4s;



        }
    }


    /*################### ################################################### FOR TABLETS MY FRIEND ################################################################### */


    @media only screen and (max-width:1067px) {



        /*################### ################################################### NAV BAR ################################################################### */


        .navBar li:not(:nth-child(8)) {
            display: none;
        }

        .mobileDropDown {
            float: right;
            padding-right: 10px;
            /* position:absolute;
            left:95%;
            top:70%; */
            margin-top: -23px;
            position: absolute;
            top: 9%;
            right: 1%;
        }

        button.mobileDropDown {

            font-size: 30px;
            /* min-height: 100%; */
            padding: 5px;
            background-color: transparent;
            cursor: pointer;
            color: white;



        }

        .overlayLogo {
            color: white;
            position: absolute;
            left: 5.5%;
            top: 68%;
            font-size: 1vw;
            font-family: 'Noto Sans HK', sans-serif;


        }

        .top-section.navBarMobile li {
            display: block;
        }

        .navBarMobile {
            position: absolute;
            top: 150%;
            width: 100%;
            z-index: 2;
        }

        .navBarMobile li {
            border: 10px solid linear-gradient(147deg, #000000 0%, #434343 74%);

            text-align: center;
            float: none;
            background: linear-gradient(147deg, #000000 0%, #434343 74%);
            padding-bottom: 10px;
            padding-top: 10px;

        }

        li.donation a {
            border: none;
        }

        .navBarMobile li.Home {
            margin-top: 50px;
        }

        .top-section-mobile {
            height: 370px;
        }

        /* .navBarMobile li a.about {
            color:blue;

        } */

        /* .navBarMobile li.aboutList:hover {
            padding-bottom: 100px;
        } */

        .navBarMobile li span {
            color: honeydew;
            cursor: pointer;
        }

        li.toggleDropDown {
            padding-bottom: 100px;

        }

        .aboutContent {

            z-index: 3;
        }

        .displayAboutContentMobile {
            display: block;
        }

        .programsDropDown {

            z-index: 3;
        }

        .displayProgramsDropDownMobile {
            display: block;
        }

        .newsAndEventsDropDown {

            z-index: 3;
        }

        .displayNewsAndEventsDropDownMobile {
            display: block;
        }

        .contactUsDropDown {

            z-index: 3;
        }

        .displayContactUsDropDownMobile {
            display: block;
        }

        /* #minAndMaxHome {
            color:yellow;
        }
      */



        /* ####################################################### FIRST BODY ############################################################# */

        .mainHeader h1 {
            position: absolute;
            left: 21%;
            top: 55%;
            font-size: 7vw;
            color: white;
            font-family: 'Cinzel', serif;
        }


        .mainHeader p {
            position: absolute;
            left: 40%;
            top: 65%;
            font-size: 2vw;
            color: white;
            font-family: 'Cinzel', serif;
            font-family: 'Josefin Slab', serif;
        }

        /* ####################################################### SECOND BODY ############################################################# */



        .descriptionColumn1 p {

            /* border:solid 5px white; */
            position: absolute;
            left: 0%;
            top: 55%;
            width: 100%;
            font-size: 10px;


        }

        .descriptionColumn2 p {

            /* border:solid 5px white; */
            /* position: absolute;
            left: 0%;
            top: 55%; */
            width: 100%;
            font-size: 10px;


        }

        .descriptionColumn3 p {

            /* border:solid 5px white; */
            /* position: absolute;
            left: 0%;
            top: 55%; */
            width: 100%;
            font-size: 10px;


        }

        .row2 .descriptionColumn1 p {

            /* border:solid 5px white; */
            position: absolute;
            left: 0;
            top: 30%;
            width: 100%;
            font-size: 10px;


        }

        .row2 .descriptionColumn2 p {

            /* border:solid 5px white; */
            /* position: absolute;
            left: 0%;
            top: 55%; */
            width: 100%;
            font-size: 10px;


        }

        .row2 .descriptionColumn3 p {

            /* border:solid 5px white; */
            /* position: absolute;
            left: 0%;
            top: 55%; */
            width: 100%;
            font-size: 10px;


        }



        /* ####################################################### THIRD BODY ############################################################# */

        .thirdBody p {

            font-size: 13px;
            /* left:10%;
        top:20%; */

        }

        .thirdBody h1.programs {


            font-size: 60px;

        }

        .thirdBody h1.aboutUS {

            margin-left: 60px;

            font-size: 60px;
            /* left:10%;
        top:20%; */
        }


    }